---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <p>
    Connect with me on LinkedIn <a href="`https://www.linkedin.com">Zulk</a>
  </p>
</footer>
